swagger: "2.0"
info:
  version: 1.0.0
  title: 'Conversion and Validation of Collective Transport data (Formats: GTFS et Neptune)'
  description: CVDTC - API swagger-2.0 specification
  termsOfService: http://swagger.io/terms/
  contact:
    name: Chouette.mobi
    email: contact@chouette.mobi
    url: http://www.chouette.mobi/club-utilisateurs/contact-support/
  license:
    name: CeCILL-B
    url: https://github.com/afimb/cvdtc/blob/master/LICENCE.md
host: preview.conversion-validation-donnees-tc.org
basePath: /api/v1
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /jobs:
    get:
      description: Jobs histories
      operationId: findJobs
      responses:
        200:
          description: jobs response
          schema:
            type: array
            items:
              $ref: '#/definitions/Job'
  /jobs/url:
    post:
      description: Create new job with URL
      operationId: addJobUrl
      parameters:
        - name: job
          in: body
          description: Job to add
          required: true
          schema:
            $ref: '#/definitions/NewJobUrl'
      responses:
        200:
          description: job response
          schema:
            $ref: '#/definitions/Job'
  /jobs/file:
    post:
      description: Create new job with FILE
      operationId: addJobFile
      parameters:
        - name: job
          in: body
          description: Job to add
          required: true
          schema:
            $ref: '#/definitions/NewJobFile'
      responses:
        200:
          description: job response
          schema:
            $ref: '#/definitions/Job'
  /jobs/{id}:
    get:
      description: Return job based on ID
      operationId: getJob
      parameters:
        - name: id
          in: path
          description: ID of job to fetch
          required: true
          type: integer
      responses:
        200:
          description: job response
          schema:
            $ref: '#/definitions/Job'
        404:
          description: job not found
    delete:
      description: deletes a single job based on the ID supplied
      operationId: deleteJob
      parameters:
        - name: id
          in: path
          description: ID of job to delete
          required: true
          type: integer
      responses:
        204:
          description: job deleted
        404:
          description: job not found
  /jobs/{id}/progress:
    get:
      description: Return progress steps of processing job
      operationId: progressJob
      parameters:
        - name: id
          in: path
          description: ID of job
          required: true
          type: integer
      responses:
        200:
          description: progress response
          schema:
            properties:
              current_step:
                type: integer
              steps_count:
                type: integer
              current_step_realized:
                type: integer
              current_step_total:
                type: integer
              steps_percent:
                type: number
                minimum: 0
                format: float
              current_step_percent:
                type: number
                minimum: 0
                format: float
        404:
          description: job not found
  /jobs/{id}/status:
    get:
      description: Get status of a job
      operationId: statusJob
      parameters:
        - name: id
          in: path
          description: ID of job
          required: true
          type: integer
      responses:
        200:
          description: job status
          schema:
            type: string
            enum:
              - waiting
              - pending
              - scheduled
              - terminated
              - canceled
        404:
          description: job not found
  /jobs/{id}/result_report:
    get:
      description: Get result of a validation job
      operationId: resultValidationJob
      parameters:
        - name: id
          in: path
          description: ID of job
          required: true
          type: integer
      responses:
        200:
          description: job result validation
          schema:
            type: string
            enum:
              - ok
              - error
        404:
          description: job not found
  /jobs/{id}/action_report:
    get:
      description: Get action report of a job
      operationId: actionReportJob
      parameters:
        - name: id
          in: path
          description: ID of job
          required: true
          type: integer
      responses:
        200:
          description: job action report
          schema:
            $ref: '#/definitions/ActionReport'
        404:
          description: job not found
  /jobs/{id}/validation_report:
    get:
      description: Get validation report of a job
      operationId: validationReportJob
      parameters:
        - name: id
          in: path
          description: ID of job
          required: true
          type: integer
      responses:
        200:
          description: job validation report
          schema:
            $ref: '#/definitions/ValidationReport'
        404:
          description: job not found
  /jobs/{id}/cancel:
    get:
      description: Cancel a running job
      operationId: cancelJob
      parameters:
        - name: id
          in: path
          description: ID of job to cancel
          required: true
          type: integer
      responses:
        204:
          description: job canceled
        404:
          description: job not found
  /jobs/{id}/download:
    get:
      description: Download result of a job. CSV file on validation or Converted zip on conversion
      operationId: downloadJob
      parameters:
        - name: id
          in: path
          description: ID of job to fetch
          required: true
          type: integer
      responses:
        200:
          description: File (CSV or ZIP)
          schema:
            type: file
        404:
          description: job not found
definitions:
  Job:
    required:
      - id
    properties:
      id:
        type: integer
      name:
        type: string
      format:
        type: string
      format_convert:
        type: string
      status:
        type: string
      object_id_prefix:
        type: string
      time_zone:
        type: string
      max_distance_for_commercial:
        type: integer
      ignore_last_word:
        type: boolean
      ignore_end_chars:
        type: integer
      max_distance_for_connection_link:
        type: integer
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      short_url:
        type: string
      error_code:
        type: string
      file_size:
        type: number
        minimum: 0
        format: float
      filename:
        type: string
  NewJobUrl:
    allOf:
      - $ref: '#/definitions/NewJob'
      - required:
        - url
        properties:
          url:
            type: string
  NewJobFile:
    allOf:
      - $ref: '#/definitions/NewJob'
      - required:
        - file
        properties:
          file:
            type: string
  NewJob:
    required:
      - name
      - format
    properties:
      name:
        type: string
      status:
        type: integer
        minimum: 0
        maximum: 4
      format:
        type: string
        enum: ['gtfs', 'neptune']
      iev_action:
        type: string
        enum: ['validate_job', 'convert_job']
      format_convert:
        type: string
        enum: ['convert_gtfs', 'convert_neptune']
      object_id_prefix:
        type: string
      time_zone:
        type: string
      max_distance_for_commercial:
        type: integer
        minimum: 0
      ignore_last_word:
        type: boolean
      ignore_end_chars:
        type: integer
        minimum: 0
      max_distance_for_connection_link:
        type: integer
        minimum: 0
  ActionReport:
    properties:
      report:
        type: string
      result:
        type: string
      lines:
        type: string
      lines_ok:
        type: integer
      lines_nok:
        type: integer
      files:
        type: string
      files_ok:
        type: integer
      files_nok:
        type: integer
  ValidationReport:
    properties:
      validation_report:
        type: string
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
      message:
        type: string