<div class="progress">
  <div class="progress-bar progress-bar-striped active" id="progress-bar-steps" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <span class="sr-only"><span>0</span>% Complete</span>
  </div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped active progress-bar-success" id="progress-bar-current-step" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <span class="sr-only"><span>0</span>% Complete</span>
  </div>
</div>
