<div class="btn-group" role="group">
  <%=
    link_to download_validation_job_path(@job), class: 'btn btn-default' do
      t('report.download')
    end
  %>
  <% if @job.mine?(current_user) %>
    <%=
      link_to destroy_job_path(@job), class: 'btn btn-default', 'data-confirm': t('job.destroy.confirm'), 'data-method': :delete do
        t('report.delete')
      end
    %>
  <% end %>
</div>
