<form class="form-inline">
  <div class="form-group">
    <label for="search"><%= t('search') %></label>
    <input type="text" class="form-control" id="search" placeholder="<%= t('search', default: 'Search') %>">
  </div>
  <button type="submit" class="btn btn-primary"><%= t('submit') %></button>
</form>
