<%= form_tag validation_job_path(@job, default_view: @default_view), method: :get, class: 'form-inline cvd-SearchBlock' do %>
  <div class="form-group">
    <%= search_field_tag :q, @search_for&.join(','), { class: 'form-control', placeholder: t('search_form.placeholder', default: 'Search for...') } %>
  </div>
  <%= submit_tag t('search_form.submit', default: 'Submit'), class: 'btn btn-success' %>
<% end %>

<% if @search_for.present? %>
  <script>
    $(document).on('page:change', function() {
      <% @search_for.each do |q| %>
        $('#accordion').highlightRegex(/<%= q %>/ig);
      <% end %>
    });
  </script>
<% end %>
