<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    <%= t('report.conform_lines') %>
  </li>
  <li class="list-group-item">
    <span class="badge">14</span>
    <%= t('report.nonconforming_lines') %>
  </li>
</ul>
