<% reports = @validation_report.reports.select{ |r| r.source_label == first_element } %>

<% all_reports_2 = [] %>

<ul>
  <% @filenames.each do |filename| %>
    <% reports2 = reports.select{ |r| r.filename == filename } %>
    <% all_reports_2.concat(reports2) %>
    <% if reports2.present? %>
      <li>
        <strong>File: <%= filename %></strong>
        <%= render 'report_results_tests', { reports: reports2 } %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= render 'report_results_tests', { reports: (reports - all_reports_2) } %>
