<% if @job.url.present? %>
  <% if @job.waiting? %>
    <p data-statusurl="<%= status_job_path(@job, format: :js) %>">
      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      Le téléchargement du fichier à partir de l'url <%= @job.url %> est en cours merci de patienter...
    </p>
  <% else %>
    <p>
      <span class="glyphicon glyphicon-check"></span>
      Téléchargement terminé.
    </p>
  <% end %>
<% end %>
