<% content_for :title do %>À propos<% end %>

<h1>Bienvenue sur  la plate-forme de Conversion et Validation des Données de Transport Collectif</h1>
<p>
  L'Agence Française pour l'Information Multimodale et la Billettique , rattachée au Ministère en charge des transports, soutient l'élaboration de normes et le développement de logiciels libres permettant de gérer et d'échanger des données d'offre du Transport Collectif utilisant les normes, en cohérence avec la politique nationale de soutien aux transport et aux modes alternatifs à la voiture particulière.
</p>
<p>
  L'AFIMB assure la maîtrise d'ouvrage du logiciel libre CHOUETTE implémentant la norme française NEPTUNE, le standard GTFS et à terme, la norme européenne NETEX .
</p>
<p>
  Le présent site est complémentaire de l'application Chouette, et est dédié à la validation et la conversion de données décrivant l'offre planifiée de transport public. L'enjeu est qu'il devienne le site public de référence en France pour la validation de données Neptune, GTFS et à terme Netex, dans le contexte de l'ouverture des données de transport public en France.
</p>
<p>
  Une évolution prévue de ce service est de le doter d'une API web de validation des données, permettra, pour les plates-formes open data qui souhaiteront en tirer parti, d'afficher les résultats des tests de conformité directement sur la page donnant accès aux données de TC (à l'image de services comme "Travis-CI" ou "Code Climate", qui permettent de compiler ou valider du code publié sur Github).
  Si vous êtes intéressé(e) par cette fonctionnalité, ou pour toute autre question, merci d'avance de nous contacter .
</p>
