<% content_for :title do %>À propos<% end %>

<h1>Bienvenue sur  la plate-forme de Conversion et Validation des Données de Transport Collectif</h1>
<p>
  L'Agence Française pour l'Information Multimodale et la Billettique  <a href="http://www.developpement-durable.gouv.fr/afimb">(AFIMB)</a>, rattachée au Ministère en charge des transports, soutient l'élaboration de normes et le développement de logiciels libres permettant de gérer et d'échanger des données d'offre du Transport Collectif utilisant les normes, en cohérence avec la politique nationale de soutien aux transport et aux modes alternatifs à la voiture particulière.
</p>
<p>
  L'AFIMB assure la maîtrise d'ouvrage du logiciel libre <a href="http://www.chouette.mobi">CHOUETTE<a href="http://www.chouette.mobi"> implémentant la norme française <a href="http://www.normes-donnees-tc.org/format-dechange/donnees-theoriques/neptune/">NEPTUNE</a>, le standard <a href="http://www.normes-donnees-tc.org/format-dechange/donnees-theoriques/gtfs-correspondance-avec-neptune-et-autres-normes/">GTFS</a> et à terme, la norme européenne <a href="http://www.normes-donnees-tc.org/format-dechange/donnees-theoriques/netex/">NETEX</a>.
</p>
<p>
  Le présent site est complémentaire de l'application <a href="http://www.chouette.mobi">Chouette<a href="http://www.chouette.mobi">, et est dédié à la validation et la conversion de données décrivant l'offre planifiée de transport public. L'enjeu est qu'il devienne le site public de référence en France pour la validation de données Neptune, GTFS et à terme Netex, dans le contexte de l'ouverture des données de transport public en France.
</p>
<p>
  Par ailleurs, <a href="http://preview.conversion-validation-donnees-tc.org/pages/developers">ce service est doté d'une API web</a> de validation des données, permettra, pour les plates-formes open data qui souhaiteront en tirer parti, d'afficher les résultats des tests de conformité directement sur la page donnant accès aux données de TC (à l'image de services comme <a href="https://travis-ci.org/">Travis-CI</a> ou <a href="https://codeclimate.com/">Code Climate</a>, qui permettent de compiler ou valider du code publié sur Github et affichent <a href="http://shields.io/">des badges indiquant l'état de validation</a> du code).
  Si vous êtes intéressé(e) par cette fonctionnalité, ou pour toute autre question, merci d'avance de nous contacter .
</p>
