<h1>Comment utiliser l'API REST ?</h1>

<p>
  L'API REST propose l'accès en lecture et écriture aux données de votre compte.
</p>

<p>
  Comment utiliser l'API (Vous devez avoir un compte et vous authentifier au préalable) :
</p>

<ol>
  <li>Récupérer votre Token d'authentification disponible dans <%= link_to edit_user_registration_path do %>votre compte<% end %></li>
  <li><%= link_to 'Accéder à l\'API', grape_swagger_rails_path %></li>
  <li>Vous pouvez aussi tester l'API sur <%= link_to 'docs.cvdtc.apiary.io', 'http://docs.cvdtc.apiary.io' %> </li>
</ol>

<p>
  Chaque requête doit avoir le header 'X-Auth-Token' comportant le token.
</p>

<p>
  L'API est actuellement en version 1 et en phase expérimentale.
</p>
