<h1>Welcome to this Public Transport Data Validation and Conversion portal.</h1>
<p>
  This web site has been designed for the French Public Transport Data community but can of course also be used in other countries.
</p>
<p>
  For more information about the actions supported by the French ministry of transport in the Public Transport data standards domain,
  please visit the companion CHOUETTE Web Site (lien http://www.chouette.mobi/en/).
</p>
<p>
  If you are interested in a translation of this site to English or other languages, please contact us.
</p>
<p>
  Thank you.
</p>
