<% content_for :title do %>Formats<% end %>
<div class="row cvd-FormatsBlock">
  <h1>Formats</h1>

  <ul>
    <li>
      <h3>Les formats actuellement supportés sont NEPTUNE et GTFS</h3>
       <li>
        Pour plus de détails sur la prise en compte de ces formats dans Chouette
          <span class="glyphicon glyphicon-link"></span>
          <%= link_to 'visitez le site Chouette', 'http://www.chouette.mobi/developpeurs/formats-supportes/', target: '_blank', rel: 'noreferrer' %>
        </li><li>
      Pour en savoir plus sur NEPTUNE
        <span class="glyphicon glyphicon-link"></span>
        <%= link_to 'visitez le site www.normes-donnees-tc.org', 'http://www.normes-donnees-tc.org/format-dechange/donnees-theoriques/neptune/', target: '_blank', rel: 'noreferrer' %>
      </li>
      <li>
      Pour en savoir plus sur GTFS
        <span class="glyphicon glyphicon-link"></span>
        <%= link_to 'visitez le site www.normes-donnees-tc.org', 'http://www.normes-donnees-tc.org/format-dechange/donnees-theoriques/neptune/', target: '_blank', rel: 'noreferrer' %>
      </li> 
    </li>
    <li>
      <h3>Tests</h3>
      <p>
        Les tests sont de 2 types : 
        <li>
        des tests de validation de conformité (1-format-xxx ou 2-format-xxx) : le tampon vert "conforme NEPTUNE" ou "conforme GTFS" signifie qu'aucun test de validation n'a produit d'erreur. (en revanche ces test peuvent avoir produit des avertissements)
        </li>
        <li>
        des tests complémentaires, de contrôle qualité (3-format-xxx ou 4-format-xxx)
        </li>
        Pour le détail des tests, voir la page 
        <span class="glyphicon glyphicon-link"></span>
        <%= link_to 'Définition des Tests', 'http://preview.conversion-validation-donnees-tc.org/definition_tests', target: '_blank', rel: 'noreferrer' %>
      </p>
    </li>
  </ul>
</div>
