<p>
  <strong>AFIMB </strong>(Agence Française pour l'Information Multimodale et la Billettique)<br>
  Tour Séquoia<br>
  92055 La Défense cedex
</p>
<p>
  <strong>Données personnelles :<br>
</strong>Conformément à l'article 34 de la Loi informatique et libertés, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent.
</p>
<p>
  Pour exercer ce droit d'accès, adressez-vous à :<br>
  - par courrier : AFIMB, MEDDE DGITM/SAGS/MTI, Tour Séquoia, 92055 La Défense cedex<br>
  - par messagerie en écrivant en envoyant un message via <a title="Contact &amp; Support" href="http://www.chouette.mobi/contact-support/">le formulaire de contact du site</a>
</p>

<div> <strong>Messagerie :</strong></div>
<p>
  Pour toute suggestion, remarque, réaction concernant ce site, n'hésitez pas à nous écrire à partir du<a title="Contact &amp; Support" href="http://www.chouette.mobi/contact-support/"> formulaire de contact.</a>
</p>
<p>
  Important : les messages que vous nous ferez parvenir par l'intermédiaire d'internet peuvent être interceptés sur le réseau. Jusqu'à ce qu'ils nous parviennent, leur confidentialité ne peut être garantie.
</p>
<p>
  <strong>Responsabilités :<br>
</strong>L'ensemble des informations accessibles via ce site sont fournies en l'état.<br>
  L'AFIMB ne donne aucune garantie, explicite ou implicite, et n'assume aucune responsabilité relative à l'utilisation de ces informations.<br>
  L'utilisateur est seul responsable de l'utilisation de telles informations.<br>
  L'AFIMB n'est pas responsable ni de l'exactitude, ni des erreurs, ni des omissions contenues sur ce site.<br>
  L'AFIMB se réserve le droit de modifier à tout moment les présentes notamment en actualisant le site.<br>
  L'AFIMB ne pourra être responsable pour quel que dommage que ce soit tant direct qu'indirect, résultant d'une information contenue sur ce site.<br>
  L'utilisateur s'engage à ne transmettre sur ce site aucune information pouvant entraîner une responsabilité civile ou pénale et s'engage à ce titre à ne pas divulguer via ce site des informations illégales, contraires à l'ordre public ou diffamatoires.<br>
  Les sites extérieurs à l'AFIMB ayant un lien hypertexte avec le présent site ne sont pas sous contrôle du  qui décline par conséquent toute responsabilité quant à leur contenu.<br>
  L'utilisateur est seul responsable de leur utilisation.<br>
  L'AFIMB décline toute responsabilité en cas de dommages, altération ou diffusion extérieure des données crées ou importées dans l'application en ligne www.chouette.mobi.
</p>
<p>
  <strong>
    Réalisation / Hébergement du site :
  </strong>
  <br>
  Cityway
</p>
<p>
  <strong>Disponibilité du site :<br>
</strong>L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle du ministère du Développement durable, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.
</p>
<p>
  Par conséquent, le ministère du Développement durable ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis-à-vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.
</p>
<p>
  La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.
</p>
<p>
  Le ministère du Développement durable peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que le ministère du Développement durable ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.
</p>
<p>
  <strong>Contact :<br>
  </strong>Pour toute suggestion, remarque, réaction concernant ce site, n'hésitez pas à écrire au webmaster en utilisant <a title="Contact &amp; Support" href="http://www.chouette.mobi/contact-support/">le formulaire de contact.</a>
</p>
