<% content_for :title do %>Tests requis pour être conforme au format TODO<% end %>
<div class="row cvd-FormatsBlock">
  <h1>Tests requis pour être conforme au format TODO</h1>
  <ul>
    <li>
      <a href="1-NEPTUNE-XML-1.html">1-NEPTUNE-XML-1</a> Syntaxe XML W3C
    </li>
    <li>
      <a href="1-NEPTUNE-XML-2.html">1-NEPTUNE-XML-2</a> Schéma défini par la XSD du profil TRIDENT/NEPTUNE
    </li>
    <li>TODO - Ceci est un exemple.</li>
  </ul>
</div>
