.progress {
  height: 20px;
}
.cvd {
  &-JobListActionsBlock {
    margin: 20px 0;
  }
  &-BadgesBlock {
    li {
      margin: 10px 0
    }
  }
  &-FormBlock {
    .form-group {
      background-color: rgba(221, 221, 221, 0.5);
      padding: 10px;
      border-radius: 5px;
    }
    .job_format {
      label {
        display: block;
      }
      .radio {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 25px;
        label {
          padding-left: 34px;
        }
      }
    }
    .checkbox, .checkbox-material {
      margin-right: 10px;
    }
  }
  &-SearchBlock {
    margin: 20px 0;
    background-color: #eee;
    padding: 8px 16px;
    box-shadow: 0 0 5px #aaa inset;
    &-search {
      margin-right: 20px;
    }
    input[type=search] {
      width: 200px;
    }
  }
  &-ShowOnHoverBlock {
    &-element {
      visibility: hidden;
    }
    &:hover {
      .cvd-ShowOnHoverBlock-element {
        visibility: visible;
      }
    }
  }
}
.panel-group .panel, .panel-heading { border-radius: inherit; }
.panel-group .panel + .panel { margin-top: 3px; }
