html {
  font-size: 62.5%
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 1.2rem;
}

hr {
  border-color: #aaa;
}

.field_with_errors {
  color: #f44336;
}

.glyphicon > span {
  display: none;
}

body > .container {
  background-color: #fff;
  padding-bottom: 30px;
}
