html {
  font-size: 62.5%
}

body {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 1.4rem;
  background-color: rgba(238, 238, 238, 0.5);
}

hr {
  border-color: #aaa;
}

h1 {
  font-size: 34px;
}

.field_with_errors {
  color: #f44336;
}

.glyphicon > span {
  display: none;
}

.highlight {
  background-color: yellow;
}

.glyphicon-refresh-animate {
  -animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

body > .container {
  background-color: #fff;
  padding: 30px;
}

.cvd-LogoChouette {
  margin-top: 10px;
  margin-left: 10px;
}

.cvd-HeaderTitleGeneral h1 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin: 10px 10px 20px 10px;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.navbar {
  a {
    &:focus, &:hover, &:active {
      background-color: rgba(255, 255, 255, 0.3) !important;
    }
  }
}
.btn:not([class*="btn-"]):hover,
.btn-default:hover,
.btn-flat:not(.btn-link):hover,
.btn:not([class*="btn-"]).active,
.btn-default.active,
.btn-flat:not(.btn-link).active {
  background-color: #aaa !important;
}
