.cvd {
  &-SpritesBlock-stamp {
    position: absolute;
    top: 0;
    right: 0;
  }
  &-ReportBlock {
    &-lines {
      width: 20%;
    }
    &-header {
      min-height: 165px;
    }
    &-results {
      > ul {
        margin: 0;
        padding: 0;
        ul {
          margin: 0;
          padding: 0 0 0 19px;
        }
      }
      li {
        list-style: none;
      }
    }
    &-errorInfo {
      font-style: italic;
      font-size: smaller;
    }
    &-errorId {
      margin: 0 0 0 19px;
      font-weight: bold;
      &-detail {
        margin: 0 0 0 19px;
      }
    }
  }
  &-AccordionBlock {
    .panel-title {
      > a {
        display: block;
      }
    }
    &-details {
      border: none;
      background: none;
    }
  }
  &-ColorBlock {
    &-ok, &-ok-sign {
      color: green;
    }
    &-ignored {
      color: #000;
    }
    &-alert {
      color: orange;
    }
    &-remove, &-minus-sign {
      color: red;
    }
  }
}
