.cvd {
  &-SpritesBlock-stamp {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  &-ReportBlock {
    &-lines {
      width: 20%;
    }
    &-header {
      min-height: 165px;
    }
    &-results {
      > ul {
        margin: 0;
        padding: 0;
        ul {
          margin: 0;
          padding: 0 0 0 19px;
        }
      }
      li {
        list-style: none;
      }
    }
  }
}
